.DS_Store

node_modules/

builds/
dict/
dictionaries/

/test-results/
/playwright-report/
/playwright/.cache/
/test/playwright/__screenshots__/

ext/manifest.json

ext/lib/*
ext/js/admin

ext/legal-npm.html

.history
.cache
.firebase

/js/admin/
ext/js/admin/key.json
.history/
.history/*
.vscode/*
.history
.cache
.vscode/
.tmp.driveupload/
